<style>
.btn{
display:none;
}


* {
    box-sizing: border-box;
    
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgudxDzbNBRhh5YHZ7Uw7uhwBXKlgrMNQXIysQ68l0-i_kL2Kp5g");
}

header.page-header {
    background: no-repeat left/cover url(https://tse1.mm.bing.net/th?id=OIP.Rt9IAS9QsFBqd4KvPdH88gHaEo&pid=15.1&P=0&w=273&h=172);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    float: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}



/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
}

a:link, a:visited {
    background-color: #E59EE5;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    
}

a:hover, a:active {
    background-color: #7EF5C2;
    
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #E59EE5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 
}

.button:hover span {
  padding-right: 25px;
   vertical-align:middle;
}

.button:hover span:after {
  opacity: 1;
  right: 0;

}

 img-responsive {
 }
 
 </style>
